[submodule "XML-Documentation-for-the-KSP-API"]
	path = XML-Documentation-for-the-KSP-API
	url = https://github.com/ProgrammerFailure/XML-Documentation-for-the-KSP-API.git
[submodule "XMLSchemaInferrer"]
	path = XMLSchemaInferrer
	url = https://github.com/ProgrammerFailure/XMLSchemaInferrer.git
